body{
    background-color: rgb(216, 153, 153);
}
section{
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 50px;
    border: 3px solid black;
    border-radius: 8px;
}
section h1 {
    font-size: 50px;
}
section button {
    width: 200px;
    height: 30px;
    font-weight: bold;
}
form label{
    font-size: 30px;
}
form input{
    width: 200px;
    height: 25px;
    border: 1px solid black;
}